// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reports {
	overflow: hidden; 

	.report {
		border-bottom: 1px solid #ccc; clear: both; overflow: hidden;
	
		p { float: left; padding: 10px; margin: 0; }
	}
}
